img {
    height: 100%;
    width: 100%;
   padding: 5px;
}
/* .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } */
  
  /* Actual card with shadow */
  /* .card {
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(12,12,12,0.2);
  } */
  #carouselExampleIndicators{
    display: block;
    height: 600px;
    width: 95%;

  }
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }